body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'a h h'
    'a m m'
    'f f f';
  gap: 3px;
  grid-template-columns: 150px auto auto;
  grid-template-rows: 100px auto 80px;
}

/* CSS sablono uzduotis */

header {
  grid-area: h;
  font-size: 30px;
  display: grid;
  place-items: center;
  background-color:#fee440;
}

aside {
  grid-area: a;
  padding: 10px;
  background-color:#00bbf9;
}

main {
  grid-area: m;
  background-color:#f15bb5;
}

footer {
  grid-area: f;
  font-size: 30px;
  background-color:#9b5de5;
}

h1 {
  font-size: 40px;
  text-transform: capitalize;
}

.html-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}



/* Selectors uzduotis */

ul li:last-child li:last-child,
ul li:first-child li:nth-child(2) {
  color: red;
}
ul li:nth-of-type(2n) {
  font-weight: bold;
}
