body {
  background-color: #ddf1d2;
}


table, th, td {
  border: 2px double black;
}

table tr:nth-child(3) td:nth-child(5), table tr:last-child td:nth-child(5) {
  text-align: center;
}



p {
  color: red;
}


/* Selectors uzduotis */

ul li:last-child li:last-child,
ul li:first-child li:nth-child(2) {
  color: red;
}
ul li:nth-of-type(2n) {
  font-weight: bold;
}



/* CSS sablono uzduotis */

header {
  font-size: 30px;
  height: 150PX;
  background-color: coral;
  margin-bottom: 10px;
}

aside {
  background-color: cornflowerblue;
  padding: 10px;
}

main {
  background-color: darkgoldenrod;
}

footer {
  font-size: 30px;
  height: 100px;
  background-color:green;
}