body {
  min-height: 100vh;
  font-size: 18px;
  color: #fff;
  font-family: monospace;
  background-image: url(/portfolio/images/css\ background\ gradient\ with\ opaque\ pattern\ on\ top\ Stack\ Overflow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  display: block;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 200px auto;
}

.left {
  width: 100%;
}

nav {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 100px auto;
  justify-content: center;
}

nav button {
  display: block;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  align-self: center;
}

/* .nuorodos ol li:nth-child(1n){
  margin-bottom: 10px;
}

.nuorodos ol li:last-child{
  margin-bottom: 0;
} */

.nuorodos {
  display: grid;
  gap: 20px;
}

.right {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main aside'
    'footer footer footer';
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 100px auto 50px;
}

header {
  grid-area: header;
  text-align: center;
  text-transform: uppercase;
  display: grid;
  align-content: center;
}
header h1 {
  font-weight: lighter;
  font-size: 50px;
}
aside {
  grid-area: aside;
  padding: 1rem;
}

aside a {
  display: block;
}

aside a:nth-child(1) {
  margin-bottom: 50px;
}

main {
  grid-area: main;
  padding: 1rem;
}

.images-section {
  text-align: center;
}

.images-section h4 {
  margin-bottom: 3rem;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.list-section {
  margin-top: 7rem;
}

.list-section h5 {
  text-align: center;
  margin-bottom: 3rem;
}

footer {
  grid-area: footer;
  text-align: center;
}
footer .social-links {
  font-size: 2rem;
}

.social-links a {
  color: #fff;
}

@media screen and (max-width: 650px) {
  body {
    background-image: url(./images/6984367.png);
  }
  .grid {
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
  }
  nav {
    position: static;
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    margin: 0 auto;
    width: unset;
    padding: 0 1rem;
  }
  nav button {
    justify-self: center;
  }
  .nuorodos {
    grid-template-columns: repeat(auto-fit, minmax(35px, 100px));
    justify-content: space-evenly;
  }
  .right {
    grid-template-areas:
      'header'
      'main'
      'aside'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto 50px;
  }
  header {
    margin-top: 4rem;
  }
  aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  footer {
    background-color: rgba(255, 255, 255, 0.2);
    display: grid;
    place-content: center;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
  body {
    background-image: url(./images/luke-chesser-3rWagdKBF7U-unsplash.jpg);
  }
  nav {
    position: static;
  }
  .right {
    grid-template-areas:
      'header'
      'main'
      'aside'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto 50px;
  }
  aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
