body {
  min-height: 100vh;
  font-size: 20px;
}

img {
  display: block;
  max-width: 20%;
}

.tabs {
  width: 30%;
  height: 30%;
}

a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgb(114, 243, 174);
}

.sheets {
  height: 100%;
  width: 100%;
  background-color: grey;
}

.sheets > * {
  display: none;
  color: azure;
}

#home {
  display: block;
}


.exercise2 {
  height: 100%;
  background-color: rgb(216, 216, 216);
  padding: 1rem;
}

.intervalu-sankirta {
  margin-top: 1rem;
  display: inline-block;
  background-color: cadetblue;
  font-size: 24px;
  padding: 1.5rem;
}
.funckijos {
  margin-top: 1rem;
}